
.carticon:hover {
	border-bottom: 4px solid #ffffff4b;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}


.accounticon:hover {
	border-bottom: 4px solid #ffffff4b;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
